<% provide(:titre, "Page d'accueil") %>
<div class="jumbotron">
<h1 class="page-header">Bienvenue sur Photo-vacances</h1>
<p>Dans ce site, immortalisez vos vacances en intégrant une de vos photos de vacances.</p>
<p>Vous pourrez ici mettre une note et le partager avec les autres utilisateurs</p>
</div>