<p>Bonjour <%= @resource.email %>!</p>

<p>Votre compte a été verrouillé .</p>

<p>Cliquez le lien ci-dessous pour déverrouiller votre compte:</p>

<p><%= link_to 'déverrouiller mon compte', unlock_url(@resource, unlock_token: @token) %></p>
